/* note */
/*This is one of my new favorite backgrounds*/
body {
    background-image: url(../images/black_thread/black_thread_@2X.png);
}

/*here we used similar css code from the first project - we added the z-index to allow the main content to go behind with scrolling*/
.header {
    top: 0;
    padding: 40px 40px 40px 40px;
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    border-bottom-style: outset;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: stretch;
    position: fixed;
    z-index: 10;   
}
/*was able to custom style the logo option from bootst*/
.navbar-brand {
    padding: 15px 0 30px 0;
    width: 200px;
    height: 70px;
    margin-left: 200px;
    color: #ffffff;
    background-color:#4aaaa5;
    text-align: center; 
    font-size: 18pt;
}
/*same css from the first project again implemented the z-index*/
.wrapper {
    padding: 50px;
    margin: 200px auto 300px auto;
    max-width: 960px;
    max-height: 960px;
    background: #ffffff;
    border-style: outset;
    border-color:#dddddd;
    border-width: 3px;
    z-index: -10;
}

h1{
    color: #4aaaa5;
}
.bio-img {
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: #666666;
    border-width: 4px;
 }
.text {
   
    color: #ffffff;
    background-color:#4aaaa5;
    text-align: center; 
    font-size: 18pt;
    z-index: 10;
    top: 50%;
    left: 50%;
}



.footer {
    position: sticky;
    bottom: 0;
    height: 45px;  
    background: #666666;
    text-align: center;
    border-top-style: outset;
    border-top-color: #4aaaa5;
    border-top-width: 7px;
    color: #ffffff;
}